n8n_templates/whatsapp_bot_advanced.json
{
  "name": "WhatsApp Bot Avanzado",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-{{PROJECT_ID}}",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "functionCode": "const entry = $json.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value || {};\nconst msg = value.messages?.[0] || {};\nreturn [{ json: { from: msg.from, text: msg.text?.body || '', raw: $json } }];"
      },
      "name": "Parse WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "company_name", "value": "{{COMPANY_NAME}}" },
            { "name": "business_focus", "value": "{{BUSINESS_FOCUS}}" },
            { "name": "industry", "value": "{{INDUSTRY}}" },
            { "name": "goals", "value": "{{GOALS}}" },
            { "name": "crm_webhook_url", "value": "{{CRM_WEBHOOK_URL}}" },
            { "name": "calendar_webhook_url", "value": "{{CALENDAR_WEBHOOK_URL}}" },
            { "name": "crm_name", "value": "{{CRM_NAME}}" },
            { "name": "calendar_tool", "value": "{{CALENDAR_TOOL}}" },
            { "name": "whatsapp_token", "value": "{{WHATSAPP_TOKEN}}" },
            { "name": "phone_number_id", "value": "{{WHATSAPP_PHONE_NUMBER_ID}}" }
          ]
        },
        "options": {}
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 0]
    },
    {
      "parameters": {
        "url": "{{APP_BASE_URL}}/api/ai-reply",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json",
          "responseFormat": "json"
        },
        "bodyParametersJson": "{\n  \"message\": \"={{$json['text']}}\",\n  \"channel\": \"whatsapp\",\n  \"sender\": \"={{$json['from']}}\",\n  \"context\": {\n    \"company_name\": \"={{$json['company_name']}}\",\n    \"business_focus\": \"={{$json['business_focus']}}\",\n    \"industry\": \"={{$json['industry']}}\",\n    \"goals\": \"={{$json['goals']}}\",\n    \"crm_name\": \"={{$json['crm_name']}}\",\n    \"calendar_tool\": \"={{$json['calendar_tool']}}\"\n  }\n}"
      },
      "name": "AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 0]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [940, 0]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$json['phone_number_id']}}/messages",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"={{$json['from']}}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"={{$json['reply'] || 'Gracias por tu mensaje.'}}\" }\n}",
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer {{$json['whatsapp_token']}}\",\n  \"Content-Type\": \"application/json\"\n}"
      },
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{$json['crm_webhook_url']}}", "operation": "isNotEmpty" }
          ]
        }
      },
      "name": "IF CRM",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, -120]
    },
    {
      "parameters": {
        "url": "={{$json['crm_webhook_url']}}",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{\n  \"source\": \"whatsapp\",\n  \"from\": \"={{$json['from']}}\",\n  \"message\": \"={{$json['text']}}\",\n  \"company\": \"={{$json['company_name']}}\"\n}"
      },
      "name": "Enviar CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1640, -120]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{$json['calendar_webhook_url']}}", "operation": "isNotEmpty" }
          ]
        }
      },
      "name": "IF Agenda",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 120]
    },
    {
      "parameters": {
        "url": "={{$json['calendar_webhook_url']}}",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{\n  \"source\": \"whatsapp\",\n  \"from\": \"={{$json['from']}}\",\n  \"message\": \"={{$json['text']}}\",\n  \"company\": \"={{$json['company_name']}}\"\n}"
      },
      "name": "Enviar Agenda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1640, 120]
    },
    {
      "parameters": {
        "responseBody": "ok"
      },
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1880, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse WhatsApp", "type": "main", "index": 0 }]]
    },
    "Parse WhatsApp": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [
        [{ "node": "AI Reply", "type": "main", "index": 0 }],
        [{ "node": "Merge", "type": "main", "index": 0 }]
      ]
    },
    "AI Reply": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar WhatsApp": {
      "main": [[{ "node": "IF CRM", "type": "main", "index": 0 }, { "node": "IF Agenda", "type": "main", "index": 0 }]]
    },
    "IF CRM": {
      "main": [[{ "node": "Enviar CRM", "type": "main", "index": 0 }], [{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "Enviar CRM": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "IF Agenda": {
      "main": [[{ "node": "Enviar Agenda", "type": "main", "index": 0 }], [{ "node": "Responder", "type": "main", "index": 0 }]]
    },
    "Enviar Agenda": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
